// Cards
.card-wrapper{
  cursor: pointer;

  .card-image {
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &.xlarge{
      height: 180px;
    }
    &.medium {
      height: 248px;
    }
    &.small{
      height: 280px;
    }
  }
  .card {
    border: 0;
    background-color: var(--sdds-white);
    padding: 4rem;
    padding-bottom: 16rem;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-bottom: 8rem;
    position: relative;
    
    p{
      margin: 0;
      position: relative;
      span{
        position: absolute;
        right: 0;
        top: 0;
      }
      &.card-detail {
        margin-top: 4rem;
        padding-top: 4rem;
        height: 26rem;
        border-top: 1px solid var(--sdds-grey-100);
      }
    }
  
    .card-link {
      display: block;
      position: absolute;
      bottom: 2rem;
      left: 4rem;
      font-size: 6rem;
      &.linkInternal {
        transform: rotate(180deg);
      }
      &.linkExternal {
        transform: rotate(135deg);
      }
    }
  }
  &:hover {
    .card {
      box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.15);
    }
  }
  &:active {
    .card{
      box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    }
  }

  @media(min-width:1056px){
    .card-image{
      &.xlarge{
        height: 632px;
      }
      &.medium {
        height: 456px;
      }
      &.small{
        height: 232px;
      }
    }
  }
}
  