.card-wrapper { // For higher specificity

  .sdds-card-img {
    object-fit: cover;

    &.xlarge{
      height: 180px;
    }
    &.medium {
      height: 248px;
    }
    &.small{
      height: 280px;
    }
  }

  .sdds-card {
    margin-bottom: var(--sdds-spacing-element-32);

    &-headline {
      color: var(--sdds-blue-300);
      margin-bottom: 0px;
      span {
        float: right;
      }
    }

    &-sub-headline {
      color: var(--sdds-blue-900);
    }

    .sdds-card-footer {
      padding-top: var(--sdds-spacing-element-8);

      &.linkExternal svg {
        transform: rotate(320deg);
      }
    }
  }

  @media(min-width:1056px){
    .sdds-card-img {
      &.small{
        height: 232px;
      }
      &.medium {
        height: 456px;
      }
      &.xlarge{
        height: 632px;
      }
    }
  }
}