<div class="card-wrapper" (click)="clickCard()">

  <div class="sdds-card sdds-clickable">
    <img *ngIf='card.image' [ngClass]="('sdds-card-img ' + type )" src='{{card.image.url}}'>

    <div class="sdds-card-header">
      <h6 class="sdds-card-headline">{{card.title}}<span *ngIf="card.info" class="sdds-text-blue-300" style="float:right;">{{card.info}}</span></h6>
      <!-- <h6  class="sdds-card-headline card-info">{{card.info}}</h6> -->
      <h6 class="sdds-card-sub-headline">{{card.description}}</h6>
    </div>

    <div *ngIf="card.detail" class="sdds-divider-light-border-top"></div>
    <div *ngIf="card.detail" class="sdds-card-body">{{card.detail}}</div>

    <div *ngIf="card.type == 'linkInternal' || card.type == 'linkExternal' " [ngClass]="('sdds-card-footer ' + (card.type))">
      <!-- <c-icon name="scania-arrow" class="hydrated"></c-icon> -->
    </div>

    <div *ngIf="card.type == 'download'" [ngClass]="('sdds-card-footer ' + (card.type))">
      <c-icon name="scania-save" class="hydrated"></c-icon>
    </div>
  </div>
</div>