<footer class="sdds-footer sdds-container-push" >
  <div class="sdds-row">
    <div class="no-padding sdds-col-xxlg-3 sdds-col-xlg-3 sdds-col-lg-3 sdds-col-md-8 sdds-col-sm-4">
      <div class="block-wrapper no-line">
        <h6 class="sdds-text-grey-300">More info</h6>
        <ul class="footer-menu">
          <li *ngFor="let menu of footerNav.menus">
            <a href="{{menu.url}}">
              {{menu.displayLink}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="no-padding sdds-col-xxlg-5 sdds-col-xlg-5 sdds-col-lg-5 sdds-col-md-8 sdds-col-sm-4">
      <div class="block-wrapper">
        <h6 class="no-padding sdds-text-grey-300">Contact</h6>
        <p>Reach out in <a href="https://teams.microsoft.com/l/team/19%3a1257007a64d44c64954acca27a9d4b46%40thread.skype/conversations?groupId=79f9bfeb-73e2-424d-9477-b236191ece5e&tenantId=3bc062e4-ac9d-4c17-b4dd-3aad637ff1ac">Teams</a> or visit the <a href="/support/faq/">FAQ</a> for questions. 
          Visit our <a href="https://github.com/scania-digital-design-system/sdds">Development Github</a> to report a bug or request a feature.</p>
      </div>
    </div>
    
    <div class="no-padding sdds-col-xlg-16 sdds-col-lg-8 sdds-col-md-8 sdds-col-sm-4">
      <div class="block-wrapper copyright">
        <p>Copyright &copy; 2020 Scania</p>
      </div>
    </div>
  </div>
</footer>