.sdds-header {
  // TODO: Use CSS VARS from scania-theme
  background-color: var(--sdds-blue-900);
  height: 16rem;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 4rem;
  color:var(--sdds-white);

  //Fixed header
  position: fixed;
  // z-index: 1;

  button {
    border: none;
    background-color: transparent;
    padding: var(--sdds-spacing-element-24);
    display: inline-block;
    color: var(--sdds-white);
    c-icon {
      vertical-align: unset;
    }

    &:focus {
      border: none;
      outline: none;
    }

    &.close-search {
      display: none;
    }
    
  }

  .scania-symbol{
    order: 1;
    flex-grow: 1;
    padding: 16px 40px;
    display: block;
    cursor: pointer;
    background: var(--sdds-background-image-scania-symbol-svg);
    background: var(--sdds-background-image-scania-symbol-png);
    background-size: 30px auto;
    background-position: center;
    background-repeat: no-repeat;
  }

  .site-search {
    border-left: 1px solid var(--sdds-blue-800);
    border-right: 1px solid var(--sdds-blue-800);
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: baseline;
    order: 2;

    input {
      background-color: transparent;
      border: none;
      color: rgba(205, 210, 217, 1); // cannot find colour in scale
      flex-grow: 1;
      width: 0px;
      transition: width 1s ease-in;
      &:focus {
        border: none;
        outline:none;
      }
    }
  }

  .scania-symbol,
  .site-search {
    &:hover {
      background-color: var(--sdds-blue-800);
    }
  }

  // Open state
  &.open {
    
    .site-search {
      flex-grow: 1;
      &:hover{
        background-color: transparent;
      }
    }

    .scania-symbol,
    .menu-mobile {
      display: none;
    }

    button.close-search,
    input {
      display: inline-block;
    }

    input {
      width: auto;
    }
  }

  // TODO: Add breakpoints var instead
  @media (min-width: 320px) {
    width: 100%
  }
  @media (min-width: 672px) {
    width: calc(100% - 240px);

    .site-search {
      order: 1;
    }

    .scania-symbol {
      order: 2;
      flex-grow: unset;
    }

    .menu-mobile {
      display: none;
    }

    &.open {
      .scania-symbol {
        display: block;
      }
    }
  }
  @media (min-width: 1054px) {
    width: calc(100% - 256px);
  }
  @media (min-width: 1312px) {
    width: calc(100% - 256px);
  }
  @media (min-width: 1584px) {
    width: calc(100% - 256px);
  }

}

