.sdds-header {
  background-color: #041E42;
  height: 16rem;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 4rem;
  color: white;

  //Fixed header
  position: fixed;
  // z-index: 1;

  //Add breakpoints var instead
  @media (min-width: 320px) {
    width: 100%
  }
  @media (min-width: 672px) {
    width: calc(100% - 240px);
  }
  @media (min-width: 1054px) {
    width: calc(100% - 256px);
  }
  @media (min-width: 1312px) {
    width: calc(100% - 256px);
  }
  @media (min-width: 1584px) {
    width: calc(100% - 256px);
  }

}

//TODO:Search icon and scania symbol
.sdds-header {
  .site-search {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: baseline;

    button {
      border: none;
      background-color: transparent;
      padding: 24px 24px;
      display: inline-block;
      color: #fff;
      c-icon {
        vertical-align: unset;
      }

      &:focus {
        border: none;
        outline: none;
      }

      &.close-search {
        display: none;
      }
    }

    input {
      background-color: transparent;
      border: none;
      color: #fff;
      flex-grow: 1;
      width: 0px;
      transition: width 1s ease-in;
      &:focus {
        border: none;
        outline:none;
      }
    }

    &.open {
      flex-grow: 1;

      button.close-search,
      input {
        display: inline-block;
      }
      input {
        width: auto;
      }
    }
  }

  .scania-symbol{
    padding: 16px 39px;
    display: block;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    background: var(--background-image-scania-symbol-svg);
    background: var(--background-image-scania-symbol-png);
    background-size: 30px auto;
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
      background-color: var(--blue-800);
    }
  }
}

