@import '../../app-vars.scss';

:host{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.sdds-header {
  // TODO: Use CSS VARS from @scania-sdds/theme-light
  background-color: var(--sdds-blue-900);
  height: $site-header-height;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 4rem;
  color:var(--sdds-white);
  box-sizing: content-box;

  .search-symbol, button {
    border: 0;
    background-color: transparent;
    padding: var(--sdds-spacing-element-16);
    line-height: 0;
    display: inline-block;
    color: var(--sdds-white);
    font-size: 6rem;
    cursor: pointer;
    c-icon {
      vertical-align: unset;
    }

    &:focus {
      border: none;
      outline: none;
    }

    &.close-search {
      display: none;
    }

    &.menu-mobile {
      border-right: 1px solid var(--sdds-blue-800);
    }

  }

  .scania-symbol{
    order: 1;
    flex-grow: 1;
    padding: 16px 40px;
    display: block;
    cursor: pointer;
    background: var(--sdds-background-image-scania-symbol-svg);
    background: var(--sdds-background-image-scania-symbol-png);
    background-size: 30px auto;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: 1054px) {
    //FIXME: until search is added
    margin-right: 0;
    }
  }

  .site-search {
    border-left: 1px solid var(--sdds-blue-800);
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    order: 2;
    height: 100%;

    input {
      background-color: transparent;
      border: none;
      color: var(--sdds-blue-200);
      flex-grow: 1;
      display: none;
      width: 0px;
      transition: width 1s ease-in;
      &:focus {
        border: none;
        outline:none;
      }
    }

    ::placeholder {
      color: var(--sdds-blue-200);
      // TODO: Change to @include type-style(detail-02)
      font-family: var(--sdds-font-family-sans-serif);
      font-size: 3.5rem;
      line-height: 4rem;
      opacity: 1;
      letter-spacing: -0.01em;
    }
  }

  .scania-symbol,
  .site-search {
    &:hover {
      outline:none;
     @media (min-width: 1056px) {
       background-color: var(--sdds-blue-800);
     }
    }
  }

  // Open state
  &.open-search {

    .site-search {
      flex-grow: 1;
      border-left: none;
      &:hover{
        background-color: transparent;
      }
      .search-symbol, button {
        padding-left: var(--sdds-spacing-element-16);
        padding-right: var(--sdds-spacing-element-16);
      }
      button.close-search,
      input {
        display: block;
      }

      input {
        width: auto;
        padding-top: 4px;
      }
    }

    .scania-symbol,
    .menu-mobile {
      display: none;
    }
  }

}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

@media (min-width: 1056px) {
  :host{
    position: sticky;
  }

  .sdds-header{
    .search-symbol, button {
      padding: var(--sdds-spacing-element-20);
    }
    .site-search {
      order: 1;
    }
  
    .scania-symbol {
      order: 2;
      flex-grow: unset;
      // FIXME: until search is added
      border-left: 1px solid var(--sdds-blue-800)
    }
  
    .menu-mobile {
      display: none;
    }
  
    &.open-search {
      .scania-symbol {
        display: block;
      }
    }
  }
  
}

