<header [ngClass]="{'sdds-header':true, 'open-search' : searchOpen}" >
  <button class="menu-mobile" (click)="toggleMenu();" >
    
    <c-icon [attr.name]="menuToggle == true && sentmessage2 == false ? 'scania-cross' : 'scania-menu-mobile'"></c-icon>
  </button>
  menu hidden: {{sentmessage2}}
  menu toggle: {{menuToggle}}
  <!-- <div class="site-search">
    <button class="search-symbol" (click)="toggleSearch()"><c-icon name="scania-search"></c-icon></button>
    <input class="sdds-detail-02" type="text" placeholder="Search" name="sdds-header-search">
    <button class="close-search" (click)="toggleSearch()"><c-icon name="scania-cross"></c-icon></button>
  </div> -->
  <span class="scania-symbol"></span>
</header>