<div class='row' *ngFor='let type of example.description | split:"\r?\n-\r?\n"'>
  <div class="col-12">
    <!-- Title -->
    <div class="row">
      <h4 class="mb-5">{{example.sectionTitle}}</h4>
    </div>

    <!-- Example -->
    <!-- FIXME: set width of every component ?  -->
    <div class="row">
      <div class='w-100 mb-5' [innerHTML]='type | keepHtml'></div>
    </div>
  </div>

  <!-- Code  -->
  <div class="row">
    <div>
      <c-code-sample [innerHTML]='type | keepHtml'></c-code-sample>
    </div>
  </div>
</div>

<!-- If code-properties is empty don't show -->

<div code-properties  [currentComponent]='example' (change)='showProps($event)' [hidden]='emptyParent'></div>

