@import '~node_modules/@scania/typography/dist/scss/mixins';
@import '~node_modules/@scania/typography/dist/scss/tokens';

:host{
  .code-preview{
    margin-bottom: var(--sdds-spacing-element-16);
    margin-top: var(--sdds-spacing-element-16);
  }
  .code-preview-title{
    margin-top: var(--sdds-spacing-element-16);
  }
  ::ng-deep .sdds-example-navbar {
    width: 100%;
    position: relative;
    padding: var(--sdds-spacing-layout-48);
    ul {
      margin: 0;
    }
    .sdds-navbar {
      position: absolute;
      z-index: 999;
    }
    &.example-dropdown {
      height:auto;
      @media all and (min-width: 769px) {
        height:236px;
      }
    }
  }
}