@import '~node_modules/@scania-sdds/typography/dist/scss/mixins';
@import '~node_modules/@scania-sdds/typography/dist/scss/tokens';
@import '../../app-vars.scss';

:host{
  .search-list{
    position: fixed;
    width: 100%;
    top: 64px;
    background: var(--sdds-white);
    @include type-style('body-02');
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        &:last-child{
          border-bottom: none;
        }
        c-icon{
          transform: rotate(270deg);
        }
      }
    }
    > ul {
      box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.05);
      >li {
        >p, a{
          padding: var(--sdds-spacing-element-16);
          margin:0;
          display: block;
        }
        li{
          background-color: var(--sdds-white);
          border-bottom: 1px solid var(--sdds-grey-100);
          cursor: pointer;
          &:hover{
            background-color: var(--sdds-blue-50);
          }
        }
      }
    }
  }
  &.show-search{
    .search-list{
      height: 100%;
      padding-bottom: $site-header-height;
      overflow-y: auto;
    }
  }
}

@media (min-width: 1056px){
  :host{
    .search-list{
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}