div {
  ::ng-deep > .color-list {
    list-style-type: none;
    display: inline-block;
    width: 300px;
    padding-inline-start: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.2rem;
    li {
      padding: 10px 15px;
    }
    li:first-child {
      padding-bottom: 20px;
    }
   }
}

  
