/* autoprefixer grid: autoplace */

:host {
    display: grid;
    grid-template-areas:
        "nav main";
    grid-template-rows: 1fr;
    grid-template-columns: 250px 1fr;
    overflow: hidden;

    ::ng-deep nav a {
        color: #fff;

        &:hover {
            background-color: transparent;
            color: #bfbfbf;
        }
    }
}

nav {
    grid-area: nav;
    background-color: #494949;
    color: #bfbfbf;

    --link-color: #fff;
    --link-color-hover: #bfbfbf;
    --link-color-active: #fff;
    overflow-y: auto;
}
a {
    color: #fff;
}
main {
    grid-area: main;
    overflow-y: auto;
}
