/* autoprefixer grid: autoplace */

:host {
  overflow: hidden;
  height: 100%; // Edge fix for overflow set on main and nav

  ::ng-deep > nav {

    button {
      background-color: transparent;
      border: transparent;
    }
    a {
      background-color: transparent;
      color: #fff;

      &:hover {
        background-color: transparent;
        color: #bfbfbf;
      }
    }
  }
}

#maincontent {
  overflow: hidden;
  flex: 1;
  background-color: #fff;
}

nav,
main {
  // display: flex;
  flex-direction: column;
  overflow-y: auto;
}

nav {
  display: none;
  position: fixed;
  width: 100%;
  max-height: calc(100% - 64px);
  top: 64px;
  left: 0;
  z-index: 1000000;

  &.sdds-nav-open {
    display: flex;
  }

  @media(min-width: 1056px) {
    display: flex;
    position: static;
    max-height: 100%;
  }
}