/* autoprefixer grid: autoplace */

:host {
  overflow: hidden;
  height: 100%; // Edge fix for overflow set on main and nav
  background-color: #fafafa;
  background-color: var(--white);
  //FIXME: Add correct rem
  font-size: 4rem;

  ::ng-deep > nav {

    button {
      background-color: transparent;
      border: transparent;
    }
    a {
      background-color: transparent;
      color: #fff;

      &:hover {
        background-color: transparent;
        color: #bfbfbf;
      }
    }
  }
}

#maincontent {
  display: flex;
  overflow: hidden;
  flex: 1;
  background-color: #fff;
}
nav,
main {
  overflow-y: auto;
}
nav {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0px 3px 13px #c8c9c7; //FIXME: box-shadow scania-color
  box-shadow: 0px 3px 13px Var(--light);

  // FIXME: color variable default in doesn't work in IE/Edge
  --link-color: Var(--dark-02);
  --link-color-hover: #bfbfbf;
}
main {
  flex: 1;
}