/* autoprefixer grid: autoplace */

:host {
  overflow: hidden;
  height: 100%; // Edge fix for overflow set on main and nav
  background-color: #fafafa;
  background-color: var(--white);
  //FIXME: Add correct rem
  font-size: 4rem;

  ::ng-deep > nav {

    button {
      background-color: transparent;
      border: transparent;
    }
    a {
      background-color: transparent;
      color: #fff;

      &:hover {
        background-color: transparent;
        color: #bfbfbf;
      }
    }
  }
}

#maincontent {
  overflow: hidden;
  flex: 1;
  background-color: #fff;
}

nav,
main {
  overflow-y: auto;
}

.sdds-nav {
  display: flex;
  flex-direction: column;
  flex-basis: 64rem;
  // width: 64rem;
  // position: fixed;
  // top: 0;
  // left: 0;
}

main {
  flex: 1;
}