/* autoprefixer grid: autoplace */

@import '~node_modules/@scania-sdds/typography/dist/scss/mixins';
@import '~node_modules/@scania-sdds/typography/dist/scss/tokens';

:host {
  @include type-style('body-01');
  overflow: hidden;
  height: 100%; // Edge fix for overflow set on main and nav

  ::ng-deep > nav {

    button {
      background-color: transparent;
      border: transparent;
    }
    a {
      background-color: transparent;
      color: #fff;

      &:hover {
        background-color: transparent;
        color: #bfbfbf;
      }
    }
  }
}



// /* Track */
// ::-webkit-scrollbar-track {
//   background: var(--sdds-grey-900); 
// }
 
// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #888; 
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555; 
// }

#maincontent {
  overflow: hidden;
  flex: 1;
  background-color: var(--sdds-grey-50);
}

nav {
  display: none;
  position: fixed;
  width: 100%;
  max-height: calc(100% - 64px);
  top: 64px;
  left: 0;
  z-index: 1000000;
  flex-direction: column;
  overflow-y: auto;
  /* width */
  &::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--sdds-grey-500);
    }
  }

  &.sdds-nav-open {
    display: flex;
    height: 100%;
  }

  &.sdds-nav-close {
    display: none;
  }

  @media(min-width: 1056px) {
    display: flex;
    position: static;
    max-height: 100%;
  }
}