@import '~node_modules/@scania/typography/dist/scss/mixins';
@import '~node_modules/@scania/typography/dist/scss/tokens';


.sdds-icon {
  text-align: center;
  position: relative;

  .sdds-icon-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    margin: 16px 0;
    height: 304px;
    background-color: var(--sdds-white);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;

    &:hover {
      box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.15);
    }
  }

  .sdds-icon-title {
    display: flex;
    flex-direction: row;
    padding: 16px;

    .sdds-select-icon {
      margin-left: auto;
      right: -10px;
    }
  }

  &:hover{
    background-color: #efefef;
    background-color: var(--light-02);
    cursor: pointer;

    .sdds-select-icon {
      display: block;
    }
  }

  c-icon {
    //FIXME: Add correct rem
    margin: auto;
    font-size: 32.5rem;
    color: var(--sdds-blue);
    width: 100%;
  }
}

.sdds-input-group {
  margin-top: var(--sdds-spacing-element-32);
}


.sdds-website-divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 24px;
  margin-bottom: 24px
}

.download-selected {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: var(--sdds-blue-100);
  padding: var(--sdds-spacing-element-16);

  @media (min-width: 1056px) {
    padding: var(--sdds-spacing-element-16) var(--sdds-spacing-element-40);
  }

  @media (min-width: 1056px) {
    width: calc(100% - 256px);
  }

  p {
    margin: 0;
  }
}

#downloadIcon {
  .list-header span,
  ul li span{
    display: inline-block;
    &:nth-child(1) {
      width: 50px;
    }
    &:nth-child(2) {
      width: 250px;
    }
    &:nth-child(3) {
      width: 150px;
    }
  }
  .list-header {
    font-weight: bold;
    color: #94999d;
    color: var(--dark-01);
    //FIXME: Add correct rem
    margin-top: 5rem;
  }
  ul {
    margin-left: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: scroll;
    li {
      list-style: none;
      position: relative;
      &:nth-child(even) {
        background-color: #efefef;
        background-color: var(--light-02);
      }
      span {
        &:nth-child(1) {
          //FIXME: Add correct rem
          font-size: 7.5rem;
          color: #041e42;
          color: var(--blue);
        }
        &.delete-from-list {
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }
    }
  }
}

.sdds-icon-modal-buttons {
  .btn {
    margin-right: 10px;
  }
  span {
    //FIXME: Add correct rem
    font-size: 4rem;
    margin-right: 5px;
  }
}

.modal {

  .sdds-icon-preview {
    //FIXME: set correct icon size
    font-size: 148px;
    display: flex;
    justify-content: center;
    color: var(--sdds-blue);
  }
  .sdds-last-update {

    p {
      margin-bottom: 20px;
      color: var(--sdds-grey-300);
    }
  }
  .close {

    //FIXME: Add correct rem
    font-size: 7.5rem;
    font-weight: normal;
  }
}

.sdds-modal-icon {
  pre {
    line-height: 0;
    code {
      @include type-style('detail-02');
    }
  }
}

.sdds-model-icon-info {
  div {
    margin-bottom: var(--sdds-spacing-element-24);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    p {
      margin-top: var(--sdds-spacing-element-4);
      margin-bottom: var(--sdds-spacing-element-8);
      color: var(--sdds-grey-300);
    }
  }
}

//FIXME: When components are added remove this
.sdds-modal-body {
  padding: var(--sdds-spacing-element-16);
}

.sdds-modal-footer {
  padding: var(--sdds-spacing-element-16);;
  background-color: var(--sdds-blue-100);
  background-color: #E6E8EC;
}

.sdds-btn {
  border: none;
  border-radius: 1rem;
  @include type-style('detail-02');
}

.sdds-btn-sm {
  padding: 12px;
}


.sdds-btn-md {
  padding: 16px;
}

.sdds-btn-primary {
  background-color: var(--sdds-blue-700);
  color: white;

  &:hover {
    background-color: var(--sdds-blue-600);
  }

  &:focus {
    background-color: var(--sdds-blue-500);
    outline: none;
  }

}

//FIXME: remove this when checkboxes are done
.sdds-checkbox-container {
  margin-top: var(--sdds-spacing-element-24);

  .sdds-checkbox-label {
    @include type-style('detail-02');
    font-weight: 400;
    color: var(--sdds-grey-900);
  }

}

.sdds-form-control {
  @include type-style('detail-02');
  height: 56px;
  border-radius: 1rem 1rem 0 0;
  border: 0;
  border-bottom: 1px solid var(--sdds-grey-200);


  &:hover {
    border-bottom: 1px solid var(--sdds-grey-500);
  }

  &:focus {
    //FIXME: two px should be added on focus state
    border-bottom: 1px solid var(--sdds-blue-500);
    background-color: var(--sdds-white);
    color: var(--sdds-grey-700);
  }
}
