.icon-widgets {
  //FIXME: Add correct rem
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  border-bottom: 1px solid #707070;
  //FIXME: Add correct rem
  margin-bottom: 7.5rem;

  .custom-control-label {
    color: #041e42;
    color: var(--blue);
  }
}

.icon {
  text-align: center;
  position: relative;

  .select-icon {
    position: absolute;
    right: 0;
    top: 5px;
    display: none;
    &.cbActive {
      display: block;
    }
  }

  &:hover{
    background-color: #efefef;
    background-color: var(--light-02);
    cursor: pointer;

    .select-icon {
      display: block;
    }
  }

  c-icon {
    //FIXME: Add correct rem
    font-size: 32.5rem;
    color: #041e42;
    color: var(--blue);
    width: 100%;
  }
}

.download-selected {
  position: fixed;
  //FIXME: Add correct rem
  bottom: 7.5rem;
  right: 15rem;
  background-color: #efefef;
  background-color: var(--light-02);
  //FIXME: Add correct rem
  padding: 3.75rem;
}

#downloadIcon {
  .list-header span,
  ul li span{
    display: inline-block;
    &:nth-child(1) {
      width: 50px;
    }
    &:nth-child(2) {
      width: 250px;
    }
    &:nth-child(3) {
      width: 150px;
    }
  }
  .list-header {
    font-weight: bold;
    color: #94999d;
    color: var(--dark-01);
    //FIXME: Add correct rem
    margin-top: 5rem;
  }
  ul {
    margin-left: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: scroll;
    li {
      list-style: none;
      position: relative;
      &:nth-child(even) {
        background-color: #efefef;
        background-color: var(--light-02);
      }
      span {
        &:nth-child(1) {
          //FIXME: Add correct rem
          font-size: 7.5rem;
          color: #041e42;
          color: var(--blue);
        }
        &.delete-from-list {
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }
    }
  }
}

.icon-modal-buttons {
  .btn {
    margin-right: 10px;
  }
  span {
    //FIXME: Add correct rem
    font-size: 4rem;
    margin-right: 5px;
  }
}

.modal {
  .icon-preview {
    margin-top: 0;
  }
  .last-update {
    color: #94999d;
    color: var(--dark-01);
    //FIXME: Add correct rem
    font-size: 3.5rem;
  }
  .close {
    //FIXME: Add correct rem
    font-size: 7.5rem;
    font-weight: normal;
  }
}
