
<div class="sdds-row">

  <div class="no-padding sdds-col-xxlg-6 sdds-col-xlg-6 sdds-col-lg-4 sdds-col-md-4 sdds-col-sm-4  icon-widgets">
    <sdds-textfield type="text" (input)="searchIcons($event);" placeholder="Search for Pictogram"><sdds-icon name="scania-search" slot="sdds-suffix"></sdds-icon></sdds-textfield>
  </div>

  <div class="sdds-select-all no-padding sdds-col-xxlg-2 sdds-col-xxlg-6-offset sdds-col-xlg-3 sdds-col-xlg-6-offset sdds-col-lg-2 sdds-col-lg-2-offset sdds-col-md-2 sdds-col-md-2-offset sdds-col-sm-4">
    <div class='sdds-checkbox-item'>
      <input type='checkbox'
      id='selectAllEl'
      class='sdds-checkbox-input sdds-form-input'
      [(ngModel)]='isSelectedAll'
      (change)='selectAll();'>
      <label class='sdds-form-label' for='selectAllEl'>Select all</label>
    </div>
  </div>

  <div class="no-padding sdds-col-xxlg-16 sdds-col-xlg-16 sdds-col-lg-8 sdds-col-md-8 sdds-col-sm-4">
    <div class="sdds-website-divider"></div>
  </div>

</div>

<div class="sdds-row">

  <div *ngFor="let icon of filteredIcons" class="sdds-icon no-padding sdds-col-xxlg-4 sdds-col-xlg-4 sdds-col-lg-4 sdds-col-md-4 sdds-col-sm-4" (click)='openModal(icon)' data-toggle='modal' data-target='#iconModal'>
    <div class="sdds-icon-container">
      <div class="sdds-icon-title sdds-detail-02">
        <span>{{icon.title}}</span>
        <div [ngClass]="{'sdds-checkbox-item sdds-select-icon':true, 'cbActive' : icon.isSelected}">
      <input type='checkbox'
      [id]="icon.name"
      class='sdds-form-input'
      value="icon.name"
      (click)='clickIconCheckbox($event)'
      [(ngModel)]='icon.isSelected'
      (change)='selectIconCheckbox()'>
      <label [for]="icon.name" class="sdds-form-label" (click)='clickIconCheckbox($event)'></label>
    </div>
      </div>
      <sdds-icon [name]="icon.name"></sdds-icon>
    </div>
  </div>

</div>

<!-- Select popup -->
<div class="download-selected" *ngIf="checkedIcons.length > 0">
  <p class="sdds-detail-06">{{checkedIcons.length}} icons selected</p>
  <button class="sdds-btn sdds-btn-primary sdds-btn-sm" data-toggle='modal' data-target='#downloadIcon'>Download selected</button>
</div>

<!-- Select and download modal -->
<div class='modal fade' id='downloadIcon' tabindex='-1' role='dialog' aria-labelledby='downloadIconLabel' aria-hidden='true'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-body'>
        <div class="row">
          <div class="col-md-10">
            <h1 class='modal-title'>Download</h1>
          </div>
          <div class="col-md-2">
            <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
              <span aria-hidden='true'>×</span>
            </button>
          </div>
          <div class="col-md-12 download-icon-list">
            <div class="list-header">
              <span>Icon</span>
              <span>Name</span>
              <span>Category</span>
            </div>
            <ul>
              <li *ngFor='let selectedIcon of checkedIcons'>
                <span><sdds-icon [name]='selectedIcon'></sdds-icon></span>
                <span>{{selectedIcon}}</span>
                <span>{{category}}</span>
                <span class="delete-from-list" (click)='removeIcon(selectedIcon);'><sdds-icon name='scania-cross'></sdds-icon></span>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <p>Icons: {{checkedIcons.length}}</p>
          </div>
          <div class="col-md-6 text-right">
            <button class="sdds-btn sdds-btn-primary" (click)='downloadZip()'>
              <span *ngIf='downloading'>DOWNLOADING...</span>
              <span *ngIf='!downloading'>DOWNLOAD SVG</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Icon detail modal -->
<div class='modal fade' id='iconModal' tabindex='-1' role='dialog' aria-labelledby='iconModalLabel' aria-hidden='true'>
  <div class="sdds-col-xxlg-6" [ngClass]='{"modal-dialog" : true, "" : getModalLayout(currentIcon)}' role='document'>
    <div class='modal-content'>
      <div class='modal-body sdds-modal-body'>
        <div>
          <span class="">
            <h5 class='modal-title' style="display: inline;" id='iconModalLabel'>{{currentIcon.title}}</h5>
            <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
              <span aria-hidden='true'>×</span>
            </button>
          </span>
          <div class="sdds-modal-icon">
            <div class="sdds-icon-preview">
              <sdds-icon [name]="currentIcon.name"></sdds-icon>
            </div>
            <div class="sdds-model-icon-info">
              <div>
                <strong class="h7">Description</strong>
                <p *ngIf="currentIcon.description">
                  {{currentIcon.description}}
                </p>
                <p *ngIf="!currentIcon.description">
                  None available
                </p>
              </div>
              <div>
                <strong class="h7">Usage</strong>
                <p class="sdds-detail-01"*ngIf="currentIcon.usage">
                  {{currentIcon.usage}}
                </p>
                <p *ngIf="!currentIcon.usage">
                  None available
                </p>
              </div>
              <div>
                <strong class="h7">Restrictions</strong>
                <p *ngIf="currentIcon.restriction">
                  {{currentIcon.restriction}}
                </p>
                <p *ngIf="!currentIcon.restriction">
                  None
                </p>
              </div>
            </div>
            <div class="sdds-last-update">
              <strong class="h7">Added </strong> 
              <p class="sdds-detail-01">
                {{lastUpdate | dateFormat}}
              </p>
            </div>
            <div>
              <pre><code>{{currentIcon.code}}</code></pre>
            </div>
          </div>
        </div>
      </div>
      <div class="sdds-modal-footer sdds-icon-modal-buttons">
        <button [id]="currentIcon.name" (click)="download($event)" class="sdds-btn sdds-btn-md sdds-btn-primary">
          Download Pictogram
        </button>
        <!-- <button [id]="currentIcon.name" (click)="download($event)" class="btn btn-secondary"><span><sdds-icon name="scania-save"></sdds-icon></span>PNG</button>
        <button [id]="currentIcon.name" (click)="download($event)" class="btn btn-secondary"><span><sdds-icon name="scania-save"></sdds-icon></span>AI</button> -->
      </div>
    </div>
  </div>
</div>