.sdds-images {
  img{
    width: 100%;
    margin-bottom: var(--sdds-spacing-element-8);
  }
}

// For line break in small images

.line-break{
  width: 100%;
}

// Full width image

.full-width-image {
  img {
    width: 100%;
    
  }
}