.sdds-images {
  img{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

// For line break in small images

.line-break{
  width: 100%;
}

// Full width image

.full-width-image {
  img {
    width: 100%;
    
  }
}

.cover-image{
  figure{
    margin-bottom: var(--sdds-spacing-element-24);
  }
}