@import '~node_modules/@scania-sdds/typography/dist/scss/mixins';
@import '~node_modules/@scania-sdds/typography/dist/scss/tokens';

::ng-deep {
  table{ 
    color: var(--sdds-black);
    min-width: 100%;
    thead{
      background-color: var(--sdds-blue-100);
      th{
        padding: 16px;
        @include type-style('headline-07');
      }
    }
    tbody{
      td{
        background-color: var(--sdds-white);
        padding: 16px;
        @include type-style('detail-02');
        border-bottom: 1px solid rgba(#000, 0.05);
      }
    }
  }
}
