@import '~node_modules/@scania/typography/dist/scss/mixins';
@import '~node_modules/@scania/typography/dist/scss/tokens';

.table-title{
  margin-bottom: var(--sdds-spacing-element-16);
  margin-top: var(--sdds-spacing-element-16);
}

::ng-deep {
  table{ 
    color: var(--sdds-black);
    margin-top: var(--sdds-spacing-element-16);
    margin-bottom: var(--sdds-spacing-element-16);
    min-width: 100%;
    thead{
      background-color: var(--sdds-blue-100);
      th{
        padding: var(--sdds-spacing-element-16);
        @include type-style('headline-07');
        color: var(--sdds-grey-900);
      }
    }
    tbody{
      td{
        background-color: var(--sdds-white);
        padding: var(--sdds-spacing-element-16);
        @include type-style('detail-03');
        color: var(--sdds-grey-700);
        border-bottom: 1px solid rgba(#000, 0.05);
        vertical-align: top;
        img{
          margin:0;
        }
      }
    }

    &.sdds-table-typography-example{
      tbody{
        td{
          line-height: normal;
          &:nth-child(3) {
            font-family: var(--sdds-font-family-sans);
          }
        }
      }
    }
    
    &.sdds-table-font-preview{
      &,
      tbody,
      tr,
      thead{
        display: block;
        width: 100%;
      }
      tbody{
        tr{
          display: flex;
          flex-flow: row;
          flex-wrap: wrap;
          td{
            color: var(--sdds-grey-900);
            line-height: 1.5em;
            padding-top: var(--sdds-spacing-element-16);
            padding-left: var(--sdds-spacing-element-16);
            padding-bottom: var(--sdds-spacing-element-24);
            width: 50%;
            display: block;
            overflow: hidden;
            border-bottom: 0 ;
            &:first-child{
              color: var(--sdds-grey-400);
            }
            &:nth-child(3){
              width: 100%;
              padding-top: var(--sdds-spacing-element-8);
              padding-bottom: var(--sdds-spacing-element-16);
            }
            &.sdds-expressive-headline-01,
            &.sdds-expressive-headline-02,
            &.sdds-headline-01,
            &.sdds-headline-02 {
              line-height: 1em;
            }
          }
        }
      }
    }

    @media (min-width:1056px) {
      &.sdds-table-font-preview{
        &,
        tbody,
        tr,
        thead{
          display: revert;
          width: auto;
        }
        tbody{
          tr{
            display: table-row;
            flex: none;
            td{
              display: table-cell;
              &:first-child{
                width: 144px;
              }
              &:nth-child(2){
                width: 256px;
              }
              &:nth-child(3){
                width: auto;
                padding-top: var(--sdds-spacing-element-16);
                padding-bottom: var(--sdds-spacing-element-24);
              }
            }
          }
        }
      }
    }

  }
  .sdds-table table {
    margin-top: 0;
  }
}
