@import '~node_modules/@scania/typography/dist/scss/mixins';
@import '~node_modules/@scania/typography/dist/scss/tokens';

#anchor-menu  {
  position: static;
  right: 0;
  text-align: left;
  flex-grow: 1;
  min-width: 149px;
  margin-right: 24px;
  z-index: 400;
  @include type-style('detail-04');


  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 4rem;
    a {
      display: block;
      position: relative;
      padding-left: 0;
      cursor: pointer;

      > p { margin:0; }

      &:before, &:after {
        content: '';
        position: absolute;
        width: 1px;
        left: -4rem;
        height: 100%;
        border-left: 2px solid var(--sdds-blue-200);
      }

      &:before {
        top: -2rem;
        padding-top: 2rem;
        padding-bottom: 6rem;
      }

      &:hover{
        color: var(--sdds-grey-600);
      }
      &:active,
      &.active {
        color: var(--sdds-blue-900);
        &:after {border-color: var(--sdds-blue-900);}
      }
    }

    &:first-child { 
      margin-top: var(--sdds-spacing-element-32);
      a:before {padding-top:0; top:0;}
    }
    &:last-child {
      margin-bottom: var(--sdds-spacing-element-16);
      a:before {padding-bottom:0;}
    }
  }
}

// Mobile for matching the padding on the left
@media(min-width: 320px) {
  #anchor-menu {
    padding-left: 16px;
  }
}

@media(min-width: 672px) {
  #anchor-menu {
    padding-left: 24px;
  }
}

@media(min-width: 1056px) {
  #anchor-menu {
    padding-left: 32px;
  }
}

// Desktop
@media (min-width: 1312px) {

  #anchor-menu {
    position: sticky;
    text-align: right;
    padding-top: 0;
    top: $anchor-position-no-tabs;
    @include type-style('detail-06');

    &.show-tabs {
      top: $anchor-position;
    }

    ul {
      position: absolute;
      top: 0;
      right: 0;
      padding-top: var(--sdds-spacing-element-16)
      }
      li{
        a {
          padding-right: 4rem;
          &:before,
          &:after {
            left: unset;
            right: -1px;
            border-right: 1px solid var(--sdds-blue-200);
          }
        }
        &:first-child{
          margin-top: 0;
        }
      }
    }
  }