:host {
  display: flex;
  flex-direction: column;

  ::ng-deep a {
    // flex: 1;
    font-size: 1.6rem;;
    text-decoration: none;
    padding: 0 15px;

    &.active {
      font-weight: bold;
      background-color: transparent;
    }
  }
}

div {
  display: flex;
  flex-direction: column;
}
// Slotted rules does not seem to work atm?
// So for now we use "ng-deep"...
// a,
// ::slotted(a) {
//     color: inherit;
//     text-decoration: none;
//     padding: 7px 15px;
// }

button {
  display: flex;
  font-weight: normal;
  color: inherit;
  text-decoration: none;
  font-size: 1.8rem;


  c-icon {
    font-size: 30px;
  }

  &.collapsed > c-icon {
    transform: rotate(0);
  }

  & > c-icon {
    transform: rotate(180deg);
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
  // Should this really be needed?
  &:not(:disabled):not(.disabled):active {
    color: inherit;
  }
}
