:host {
    display: flex;
    flex-direction: column;

    ::ng-deep a {
        // flex: 1;
        text-decoration: none;
        padding: 0 15px;

        &.active {
            font-weight: bold;
            background-color: transparent;
        }
    }
}

div {
    display: flex;
    flex-direction: column;
}
// Slotted rules does not seem to work atm?
// So for now we use "ng-deep"...
// a,
// ::slotted(a) {
//     color: inherit;
//     text-decoration: none;
//     padding: 7px 15px;
// }
button {
    display: flex;
    font-weight: normal;
    color: inherit;
    text-decoration: none;

    &:after {
        // background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40' fill='white' %3E%3Cpath d='m23.3 20l-13.1-13.6c-0.3-0.3-0.3-0.9 0-1.2l2.4-2.4c0.3-0.3 0.9-0.4 1.2-0.1l16 16.7c0.1 0.1 0.2 0.4 0.2 0.6s-0.1 0.5-0.2 0.6l-16 16.7c-0.3 0.3-0.9 0.3-1.2 0l-2.4-2.5c-0.3-0.3-0.3-0.9 0-1.2z'/%3E%3C/svg%3E");
        // height: 10px;
        align-self: center;
        transform: rotate(-180deg);
    }
    &.collapsed {

        &:after {
            transform: rotate(0deg);
        }
    }
    &:hover,
    &:focus {
        text-decoration: none;
        color: inherit;
    }
    // Should this really be needed?
    &:not(:disabled):not(.disabled):active {
        color: inherit;
    }
}
