<ng-container *ngIf="content.url!== 'overview'">
  <ng-container *ngFor='let item of tabContent.pageContent'>
    <div id="anchor-menu" [ngClass]='("anchor-menus " + (tabExist ? "show-tabs" : ""))'>
      <ul>
        <ng-container *ngFor="let section of item.content.section">
          <li *ngIf='section.Title'>
            <a [routerLink]="defaultTab" (click)='anchorMenu(section.Title)' [fragment]='section.Title | generateTabUrl'
            class="sdds-text-grey-400" [ngClass]="{'active': isAnchorActive === generateUrl(section.Title)}">{{section.Title}}</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </ng-container>
</ng-container>

<div class="tab-content sdds-container-push">
  <div class="sdds-row">

    <ng-container *ngFor='let item of tabContent.pageContent'>

      <ng-container *ngFor="let section of item.content.section">

        <ng-template [ngIf]="section.__typename === 'ComponentContentPluginIconPreview'">

            <div class="sdds-tab-component sdds-col-max-3 sdds-col-xxlg-3 sdds-col-xlg-3sdds-col-md-3 sdds-col-sm-3 sdds-col-xs-3">
              <div class="icon-preview" [innerHTML]='section.Icon | keepHtml'></div>
            </div>
            <div class="sdds-col-max-9 sdds-col-xxlg-9">
              {{section.Description}}
            </div>

        </ng-template>

        <!-- Icon List -->
        <ng-template [ngIf]="section.__typename === 'ComponentContentPluginIconList'">
          <!-- [icons]='section.iconList' -->
          <div class='sdds-icon-list' icon-list [icons]='section.Icons' [category]='section.category' [lastUpdate]='item.content.updated_at'></div>
        </ng-template>

        <!-- Code Example -->
        <ng-template [ngIf]="section.__typename === 'ComponentContentPluginCodeExample'">
          <code-example [example]="section" class="sdds-col-max-8 sdds-col-xxlg-9 sdds-col-xlg-9 sdds-col-lg-6 sdds-col-md-12 sdds-col-sm-12 sdds-col-xs-12"></code-example>
        </ng-template>

        <!-- One column -->
        <ng-template [ngIf]="section.__typename === 'ComponentContentPluginOneColumn'">
          <div class="sdds-tab-component sdds-one-col-plugin sdds-col-max-7 sdds-col-xxlg-8 sdds-col-xlg-9 sdds-col-lg-12 sdds-col-md-12 sdds-col-sm-12 sdds-col-xs-12"
          [ngClass]="((section.LeadText ? 'lead-text-section ' : '') + (typographyPage && section.Text && section.Text.indexOf('\<table') >= 0 ? 'sdds-col-max-7 sdds-col-xxlg-8 sdds-col-xlg-8':'sdds-col-max-7 sdds-col-xxlg-9 sdds-col-xlg-8'))"
          >
            <h4 *ngIf='section.Title' [innerHTML]='section.Title | markdown | keepHtml' [attr.id]='section.Title | generateTabUrl' class="section-title"></h4>
            <div *ngIf='section.LeadText' class="lead-text sdds-paragraph-01">{{section.LeadText.textfield}}</div>
            <div *ngIf='section.Text' [innerHTML]='section.Text | markdown | keepHtml'></div>
          </div>
          <div class="line-break"></div>
        </ng-template>

        <!-- Full width Image -->
        <ng-template [ngIf]="section.__typename === 'ComponentContentPluginFullWidthImage'">
          <ng-container *ngIf="section.Image">
            <div [ngClass]="('sdds-tab-component sdds-images sdds-full-width sdds-col-sm-12 sdds-col-xs-12 ' + (section.Image.size=='Small' ? 'sdds-sm-image sdds-col-max-4 sdds-col-xxlg-4 sdds-col-xlg-4 sdds-col-lg-4 sdds-col-md-4 ':'') + (section.Image.size=='ExtraMedium' ? 'sdds-extramd-image  sdds-col-xlg-6 sdds-col-xlg-8 sdds-col-lg-8 sdds-col-md-12':'') + (section.Image.size=='Medium' ? ' sdds-md-image sdds-col-max-5 sdds-col-xxlg-5 sdds-col-xlg-6 sdds-col-lg-6 sdds-col-md-6':'') + (section.Image.size=='Large' ? 'sdds-lg-image  sdds-col-max-9 sdds-col-xxlg-9 sdds-col-xlg-9 sdds-col-lg-8 sdds-col-md-12':'') + (section.Image.size=='Xlarge' ? 'sdds-xlg-image sdds-col-max-10 sdds-col-xxlg-10 sdds-col-xlg-10 sdds-col-lg-12 sdds-col-md-12':''))">
              <figure>
                  <img *ngIf='section.Image.image[0].url' [ngClass]="{'negative' : section.Image.negative }" [src]="section.Image.image[0].url" alt='{{section.Image.alternate}}'/>
                  <figcaption *ngIf='section.Image.label' class="sdds-detail-02" >
                    <strong>{{section.Image.label}}</strong>
                  </figcaption>
                  <figcaption *ngIf='section.Image.caption' class="sdds-detail-02" [innerHTML]='section.Image.caption | markdown | keepHtml'>
                  </figcaption>
                </figure>
              </div>
              <div class="line-break"></div>
          </ng-container>
        </ng-template>

        <!-- Two column -->
        <ng-template [ngIf]="section.__typename === 'ComponentContentPluginTwoColumns'">
          <div class="sdds-tab-component sdds-col-max-6 sdds-col-xxlg-6 sdds-col-xlg-12 sdds-col-md-12 sdds-col-sm-12 sdds-col-xs-12">
            <h4 *ngIf='section.Title' [innerHTML]='section.Title | markdown | keepHtml' [id]='section.Title | generateTabUrl' class="section-title"></h4>
          </div>

          <div class="sdds-tab-component sdds-col-max-6 sdds-col-xxlg-6 sdds-col-xlg-6 sdds-col-md-4 sdds-col-sm-12 sdds-col-xs-12">
            <div *ngIf="section.ParagraphLeft" [ngClass]="{'lead' : section.ParagraphLeft.Introduction }">
              <div [innerHTML]='section.ParagraphLeft.textfield | markdown | keepHtml'></div>
            </div>
          </div>
          <div class="sdds-tab-component sdds-col-max-6 sdds-col-xxlg-6 sdds-col-xlg-6 sdds-col-md-4 sdds-col-sm-12 sdds-col-xs-12">
            <div *ngIf="section.ParagraphRight" [ngClass]="{'lead' : section.ParagraphRight.Introduction }">
              <div [innerHTML]='section.ParagraphRight.textfield | markdown | keepHtml'></div>
            </div>
          </div>
        </ng-template>

        <!-- Multiple columns-->
        <ng-template [ngIf]="section.__typename === 'ComponentContentPluginTwoColumnsImages'">
          <div class="sdds-tab-component sdds-multi-col-plugin sdds-col-max-9 sdds-col-xxlg-9 sdds-col-xlg-11 sdds-col-lg-6 sdds-col-md-12 sdds-col-sm-12 sdds-col-xs-12">
            <h4 *ngIf='section.Title' [innerHTML]='section.Title | markdown | keepHtml' [id]='section.Title | generateTabUrl' class="section-title"></h4>
          </div>

            <!-- If texts -->
            <ng-container *ngIf="section.texts">
              <ng-container *ngFor="let text of section.texts">
                <div class="sdds-tab-component sdds-col-max-9 sdds-col-xxlg-9 sdds-col-xlg-11 sdds-col-lg-6 sdds-col-md-12 sdds-col-sm-12 sdds-col-xs-12 ">
                  <div *ngIf='text.Introduction' class="lead-text sdds-paragraph-01">{{text.textfield}}</div>
                  <div *ngIf='!text.Introduction' [innerHTML]='text.textfield | markdown | keepHtml'></div>
                </div>
              </ng-container>
            </ng-container>

            <div class="line-break"></div>

            <!-- If images -->
            <ng-container *ngIf="section.Images">
              <ng-container *ngFor="let image of section.Images; let index=index">
                <div [ngClass]="('sdds-tab-component sdds-images sdds-multi-col sdds-col-sm-12 sdds-col-xs-12 ' + (image.size=='Small' ? 'sdds-sm-image sdds-col-max-3 sdds-col-xxlg-3 sdds-col-xlg-4 sdds-col-lg-6 sdds-col-md-6 ':'') + (image.size=='ExtraMedium' ? 'sdds-extramd-image sdds-col-max-6 sdds-col-xxlg-6 sdds-col-xlg-6  sdds-col-lg-8 sdds-col-md-12':'') + (image.size=='Medium' ? 'sdds-md-image sdds-col-max-5 sdds-col-xxlg-5 sdds-col-xlg-6 sdds-col-lg-4 sdds-col-md-6':'')  + (image.size=='Large' ? 'sdds-lg-image sdds-col-max-9 sdds-col-xxlg-9 sdds-col-xlg-9 sdds-col-lg-9 sdds-col-md-9':'') + (image.size=='Xlarge' ? 'sdds-xlg-image sdds-col-max-11 sdds-col-xxlg-11 sdds-col-xlg-11 sdds-col-lg-12 sdds-col-md-12':''))">
                  <figure>
                    <img *ngIf='image.image[0].url' [ngClass]="{'negative' : image.negative }" [src]="image.image[0].url" alt='{{image.alternate}}'/>
                    <figcaption *ngIf='image.label' class="sdds-detail-02" >
                      <strong>{{image.label}}</strong>
                    </figcaption>
                    <figcaption *ngIf='image.caption' class="sdds-detail-02" [innerHTML]='image.caption | markdown | keepHtml'>
                    </figcaption>
                  </figure>
                </div>
              <ng-container *ngIf="image.size==='Small' && (index+1) % 3 === 0">
                <div class="line-break"></div>
              </ng-container>
              <ng-container *ngIf="image.size==='Medium' && (index+2) % 3 === 0">
                <div class="line-break"></div>
              </ng-container>
            </ng-container>
          </ng-container>

          <div class="line-break"></div>

          <!-- If Cards -->
          <ng-container *ngIf="section.linkCards">
            <sdds-card-site *ngFor="let card of section.linkCards"
            [card]="card"
            class="sdds-tab-component sdds-col-max-4 sdds-col-xxlg-5 sdds-col-xlg-5 sdds-col-lg-6 sdds-col-md-6 sdds-col-sm-12 sdds-col-xs-12 ">
            </sdds-card-site>
          </ng-container>

          <div class="line-break"></div>

          <!-- If Dos and Donts -->
          <ng-container *ngIf="section.dosAndDonts">
            <div *ngFor="let item of section.dosAndDonts"
              [ngClass]="('sdds-tab-component sdds-do-donts sdds-col-sm-12 sdds-col-xs-12 ' + (item.size === 'Small' || item.size === null ? ' sdds-sm-do-donts sdds-col-md-6 sdds-col-lg-6 sdds-col-xlg-4 sdds-col-xxlg-4 sdds-col-max-4 ' : '') + (item.size === 'Medium' ? ' sdds-md-do-donts sdds-col-max-5 sdds-col-xxlg-5 sdds-col-xlg-6 sdds-col-lg-8 sdds-col-md-12 ' : '') + (item.size === 'Large' ? ' sdds-lg-do-donts sdds-col-md-12 sdds-col-lg-12 sdds-col-xlg-12 sdds-col-xxlg-12 sdds-col-max-12' : '') + '')">
              <div [ngClass]="('do-dont '+(item.type))">
                <img [src]="item.image.url"/>
                <span class="check-mark"></span>
              </div>
              <p *ngIf="item.type == 'Do'" class="sdds-headline-07 sdds-text-green-500">Do</p>
              <p *ngIf="item.type == 'Dont'" class="sdds-headline-07 sdds-text-red-500">Don't</p>
              <p class="sdds-detail-02">{{item.description}}</p>
            </div>
          </ng-container>

        </ng-template>

        <!-- Table -->
        <ng-template [ngIf]="section.__typename === 'ComponentNestedTable'">
          <ng-container *ngIf="section.tableHtml">
            <div class="sdds-tab-component sdds-col-max-12 sdds-col-xxlg-12 sdds-col-xlg-12 sdds-col-md-12 sdds-col-sm-12 sdds-col-xs-12">
              <h6 *ngIf='section.tableTitle' class="table-title">{{section.tableTitle}}</h6>
            </div>
            <div [ngClass]="('sdds-tab-component sdds-table sdds-col-lg-8 sdds-col-md-12 sdds-col-sm-12 sdds-col-xs-12' + (section.size=='Small' ? 'sdds-col-max-5 sdds-col-xxlg-5 sdds-col-xlg-6':'') + (section.size=='Medium' ? 'sdds-col-max-5 sdds-col-xxlg-9 sdds-col-xlg-9':'')  + (section.size=='Large' ? 'sdds-col-max-5 sdds-col-xxlg-12 sdds-col-xlg-12':'') + (section.size=='Xlarge' ? 'sdds-col-max-5 sdds-col-xxlg-15 sdds-col-xlg-15':''))"
            [innerHTML]='section.tableHtml | markdown | keepHtml'>

            </div>
        </ng-container>
        </ng-template>

        <!-- Color list -->
        <ng-template [ngIf]="section.__typename === 'ComponentContentPluginColourList'">
          <section color-list [content]='section.colour'></section>
        </ng-template>

        <!-- Right images -->
        <ng-template [ngIf]="section.__typename === 'ComponentContentPluginRightImage'">
          <div class="row RightImage">

            <div class='col-md-6'>
              <h4 *ngIf='section.title' [innerHTML]='section.title | markdown | keepHtml' class="section-title"></h4>
              <div class="row">
                <div *ngFor="let paragraph of section.Paragraphs" [ngClass]="{'col-md-12': paragraph.Columns == 'One', 'col-md-6': paragraph.Columns == 'Two', 'col-md-3': paragraph.Columns == 'Three'}">
                  <div *ngIf='paragraph.textfield' [innerHTML]='paragraph.textfield | markdown | keepHtml'></div>
                </div>
              </div>
            </div>

            <div class='col-md-6'>
              <div *ngFor="let image of section.Images">
                <figure>
                  <figcaption class="label" *ngIf='image.label'>
                    <strong>{{image.label}}</strong>
                  </figcaption>
                  <img *ngIf='image.image[0].url' [ngClass]="{'negative' : image.negative }" [src]="image.image[0].url" alt='{{image.alternate}}'/>
                  <figcaption *ngIf='image.caption' [innerHTML]='image.caption | markdown | keepHtml'>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
        </ng-template>

      </ng-container>

    </ng-container>

    <!-- Endof .sdds-row -->
  </div>
</div>
