@import '../../app-vars.scss';

.sdds-content-header {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  background-color: #041E42;
  height: $site-content-header-height-mobile;
  padding-bottom: 6rem; 
  margin-top: $site-header-height;
}

.sdds-content-title-font {
  font-size: 8rem;
  line-height: 8rem;
}

.sdds-category-title {
  color: #9CA5C2;
  margin-bottom: 2rem;
}
.sdds-page-title {
  color: white;
  margin: 0;
}

@media (min-width: 1056px) {
  .sdds-content-header{
    padding-bottom: 10rem;
    height: $site-content-header-height;
  }
}