.sdds-content-header {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  background-color: #041E42;
  height: 48rem;
  height: 64rem;
  padding: 40px;
}

.sdds-content-title-font {
  font-size: 8rem;
  line-height: 8rem;
}

.sdds-category-title {
  color: #9CA5C2;
  margin-bottom: 2rem;
}
.sdds-page-title {
  color: white;
  margin: 0;
}