<div class="cover-image" [style.backgroundImage]="'url(' + page.section[0].Image.image[0].url +')'">
</div>

<div class="sdds-container-push">
  <div class="sdds-row">

    <!-- Intro columns -->

    <div class="no-padding sdds-col-xxlg-8 sdds-col-xlg-8 sdds-col-lg-8 sdds-col-md-8 sdds-col-sm-4">
      <h4 class="sdds-text-blue-300">{{page.section[1].ParagraphLeft.textfield}}</h4>
    </div>
    <div class="no-padding intro-columns sdds-col-xxlg-8 sdds-col-xlg-8 sdds-col-lg-8 sdds-col-md-8 sdds-col-sm-4">
      <div class="sdds-text-blue-900 sdds-paragraph-02" [innerHTML]="page.section[1].ParagraphRight.textfield | markdown | keepHtml"></div>
    </div>

    <!-- Medium cards -->

    <sdds-card *ngFor="let card of page.section[2].linkCards"
      type="medium"
      class="no-padding sdds-col-xxlg-8 sdds-col-xlg-8 sdds-col-lg-8 sdds-col-md-8 sdds-col-sm-4"
      [card]="card">
    </sdds-card>

    <!-- Small cards -->
    <sdds-card *ngFor="let card of page.section[3].linkCards"
      class="no-padding sdds-col-xxlg-4 sdds-col-xlg-4 sdds-col-lg-4 sdds-col-md-8 sdds-col-sm-4"
      type="small"
      [card]="card"
      >
    </sdds-card>

    <!-- Full width card -->
    <sdds-card *ngFor="let card of page.section[4].linkCards"
      type="xlarge"
      class="no-padding sdds-col-xxlg-16 sdds-col-xlg-16 sdds-col-lg-16 sdds-col-md-8 sdds-col-sm-4"
      [card]="card">
    </sdds-card>

    <!-- Resources columns -->

    <div class="no-padding resource-columns left-column sdds-col-xxlg-5 sdds-col-xlg-5 sdds-col-lg-5 sdds-col-md-8 sdds-col-sm-4">
      <h4 class="sdds-text-blue-300">{{page.section[5].ParagraphLeft.textfield}}</h4>
    </div>
    <div class="no-padding resource-columns sdds-col-xxlg-8 sdds-col-xlg-8 sdds-col-lg-8 sdds-col-md-8 sdds-col-sm-4">
      <p class="sdds-text-blue-900 sdds-paragraph-02">{{page.section[5].ParagraphRight.textfield}}</p>
    </div>

    <!-- Cards -->
    <sdds-card *ngFor="let card of page.section[6].linkCards"
    class="no-padding sdds-col-sm-4 sdds-col-md-8 sdds-col-lg-5 sdds-col-xlg-5"
    [card]="card">
    </sdds-card>

  </div>
</div>


<div class="landing-page-ribbon sdds-background-blue-900">
  <div class="sdds-container-push-fluid">
    <div class="sdds-row">

      <div class="no-padding sdds-col-xxlg-4 sdds-col-xlg-4 sdds-col-lg-4 sdds-col-md-8 sdds-col-sm-4">
        <h5 class="sdds-text-blue-300">{{page.section[7].ParagraphLeft.textfield}}</h5>
      </div>
      <div class="no-padding sdds-col-xxlg-8 sdds-col-xlg-8 sdds-col-lg-8 sdds-col-md-8 sdds-col-sm-4">
        <h5 class="sdds-text-white">{{page.section[7].ParagraphRight.textfield}}</h5>
      </div>
      <div class="no-padding ribbon-btn-wrapper sdds-col-xxlg-4 sdds-col-xlg-4 sdds-col-lg-4 sdds-col-md-8 sdds-col-sm-4">
        <button class="sdds-button-primary">Let us know</button>
      </div>

    </div>
  </div>
</div>