<div class="cover-image" [style.backgroundImage]="'url(' + page.section[0].Image.image[0].url +')'">
</div>

<div class="sdds-container-push">
  <div class="sdds-row">

    <!-- Intro columns -->

    <div class="sdds-landing-page sdds-col-max-6 sdds-col-xlg-6 sdds-col-xlg-6 sdds-col-lg-8 sdds-col-md-6 sdds-col-sm-6 sdds-col-xs-12">
      <h4 class="sdds-text-blue-300">{{page.section[1].ParagraphLeft.textfield}}</h4>
    </div>
    <div class="intro-columns sdds-col-max-6 sdds-col-xlg-6 sdds-col-xlg-6 sdds-col-lg-8 sdds-col-md-6 sdds-col-sm-6 sdds-col-xs-12">
      <div class="sdds-text-blue-900 sdds-paragraph-02" [innerHTML]="page.section[1].ParagraphRight.textfield | markdown | keepHtml"></div>
    </div>

    <!-- Medium cards -->

    <sdds-card-site *ngFor="let card of page.section[2].linkCards"
      type="medium"
      class="sdds-landing-page sdds-col-max-6 sdds-col-xlg-6 sdds-col-xlg-6 sdds-col-lg-6 sdds-col-md-6 sdds-col-sm-12 sdds-col-xs-12"
      [card]="card">
    </sdds-card-site>

    <!-- Small cards -->
    <sdds-card-site *ngFor="let card of page.section[3].linkCards"
      class="sdds-landing-page sdds-col-max-3 sdds-col-xxlg-3 sdds-col-xlg-6 sdds-col-lg-6 sdds-col-md-6 sdds-col-sm-12 sdds-col-xs-12"
      type="small"
      [card]="card"
      >
    </sdds-card-site>

    <!-- Full width card -->
    <sdds-card-site *ngFor="let card of page.section[4].linkCards"
      type="xlarge"
      class="sdds-landing-page sdds-col-max-12 sdds-col-xxlg-12 sdds-col-xlg-12 sdds-col-lg-12 sdds-col-md-12 sdds-col-sm-12 sdds-col-xs-12"
      [card]="card">
    </sdds-card-site>

    <!-- Resources columns -->

    <div class="sdds-landing-page resource-columns left-column sdds-col-max-4 sdds-col-xxlg-5 sdds-col-xlg-5 sdds-col-lg-5 sdds-col-md-12 sdds-col-sm-12 sdds-col-xs-12">
      <h4 class="sdds-text-blue-300">{{page.section[5].ParagraphLeft.textfield}}</h4>
    </div>
    <div class="sdds-landing-page resource-columns  sdds-col-max-1-offset sdds-col-max-6 sdds-col-xlg-6 sdds-col-xlg-6 sdds-col-lg-8 sdds-col-md-12 sdds-col-sm-12 sdds-col-xs-12">
      <p class="sdds-text-blue-900 sdds-paragraph-02">{{page.section[5].ParagraphRight.textfield}}</p>
    </div>

    <!-- Cards -->
    <sdds-card-site *ngFor="let card of page.section[6].linkCards"
    class="sdds-landing-page sdds-col-max-4 sdds-xxlg-5 sdds-col-xlg-4 sdds-col-lg-6 sdds-col-md-6 sdds-col-sm-12 sdds-col-xs-12"
    [card]="card">
    </sdds-card-site>

  </div>
</div>


<div class="landing-page-ribbon sdds-background-blue-900">
  <div class="sdds-container-push">
    <div class="sdds-row">

      <div class="sdds-landing-page sdds-col-max-3 sdds-col-xxlg-3 sdds-col-xlg-4 sdds-col-lg-12 sdds-col-md-12 sdds-col-sm-12 sdds-col-xs-12">
        <h5 class="sdds-text-blue-300">{{page.section[7].ParagraphLeft.textfield}}</h5>
      </div>
      <div class="sdds-landing-page sdds-col-max-4 sdds-col-xxlg-9 sdds-col-xlg-6 sdds-col-lg-12 sdds-col-md-12 sdds-col-sm-12 sdds-col-xs-12">
        <h5 class="sdds-text-white">{{page.section[7].ParagraphRight.textfield}}</h5>
      </div>
      <div class="landing-page-ribbon-button">
        <button class="sdds-button-primary" routerLink='/contribution'>Let us know</button>
      </div>

    </div>
  </div>
</div>