<div id="closeCollapse">
  <section *ngFor="let page of pages; index as i">

    <a data-toggle="collapse" class="collapsed" [attr.data-target]="'#' + id + i" routerLink="{{page.url}}" routerLinkActive="{{active}}" #rla="routerLinkActive">
      {{page.title}}<c-icon name="scania-angle-down"></c-icon>
    </a>

    <div [id]="id + i" class="collapse" data-parent="#closeCollapse" >
      <a *ngFor="let sub of page.submenus; index as i;" routerLinkActive="{{active}}" #rlasub="routerLinkActive" [routerLink]="page.url + '/' + sub.url ">{{sub.title}}</a>
    </div>

  </section>
</div>
<!-- <section item-toggler *ngFor="let item of items; index as i" text="{{item.url}}" [collapsed]="false">
    <a *ngFor="let sub of item.submenus; index as i" [routerLink]="item.url + '/' + sub.url" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{sub.title}}</a>
</section> -->