<!-- Using bootstrap collapse -->
<div *ngFor="let nav of navigations" id="closeCollapse">
  <ng-container *ngFor="let page of nav.menus">
    <section class="sdds-nav-section" *ngIf="page.url.indexOf('http') !== 0">

      <!-- Main menu -->
      <a #2 class="sdds-nav-section-link sdds-nav-link-style" [ngClass]="{'collapsed' : !rla.isActive}" data-toggle="collapse" [attr.data-target]="'#' + id + page.id" routerLink="{{page.url}}"  routerLinkActive="active" #rla="routerLinkActive" (click)="preventToggle($event, page)">
        {{page.title}}
        <c-icon name="scania-angle-down" *ngIf="page.submenus.length"></c-icon>
      </a>

      <!-- Sub menu -->
      <div #1 class="sdds-nav-section-sub-link collapse" [id]="id + page.id" [ngClass]="{'collapse' : !rla.isActive}"  data-parent="#closeCollapse" (click)="activePage = page">
        <a class="sdds-nav-link-style" *ngFor="let sub of page.submenus; index as i;" routerLinkActive="active" [routerLink]="page.url + '/' + sub.url">{{sub.title}}</a>
      </div>

    </section>
  </ng-container>

  <!-- This setup for external link should really be improved later on... -->
  <section class="sdds-external-links">
    <ng-container *ngFor="let page of nav.menus">
      <a class="sdds-external-link sdds-nav-link-style" *ngIf="page.url.indexOf('http') === 0" href="{{page.url}}" target="_blank">
        {{page.title}}
        <c-icon name="scania-external_link"></c-icon>
      </a>
    </ng-container>
  </section>

</div>