<section class="sdds-navigation">
  <div class="sdds-nav-section" *ngFor="let menu of firstLevelNav.menus;">

    <!-- Template for handling menu layers-->
    <ng-template [ngIf]="menu.submenus && menu.submenus.length >= 1" [ngIfElse]="noSubMenu">

      <div #rla="routerLinkActive" routerLinkActive="active">

        <!-- First level without links -->
        <span class="sdds-headline-06 sdds-nav-section-link sdds-nav-link-style" (click)="useToggle(menu, id);" [ngClass]="[toggle[id + menu.id] == true ? 'sdds-open' : 'sdds-close']">
          <span> 
            {{menu.title}}
          </span>
          <c-icon name="scania-angle-down"></c-icon>
        </span>

         <!-- second layer menu, collapse -->
        <div class="sdds-nav-section-sub-links">
          <div *ngFor="let submenu of menu.submenus; index as i;">
            <a [routerLink]="menu.url + '/' + submenu.url" class="sdds-body-02 sdds-nav-link-style" routerLinkActive="active">
              <span>{{submenu.title}}</span>
            </a>
          </div>
        </div>

      </div>
    </ng-template>

    <!-- menu without a second layer -->
    <ng-template #noSubMenu>
      <a class="sdds-headline-06 sdds-nav-section-link sdds-nav-link-style" routerLink="{{menu.url}}" #rla="routerLinkActive" routerLinkActive="sdds-collapse">{{menu.title}}</a>
    </ng-template>

  </div>
</section>

<!-- External links in bottom of the page -->
<section class="sdds-external-links">
  <div class="sdds-external-link" *ngFor="let menu of externalNav.menus">
    <a href="{{menu.url}}"  class="sdds-body-02 sdds-nav-link-style" target="_blank">
      {{menu.title}}
      <c-icon name="scania-external_link"></c-icon>
    </a>
  </div>
</section>