//FIXME: Add scania-theme variables instead of hex colors, valid for all places

:host {
  background-color: #171719;
}

//TODO: Look into transtion from bootstrap regarding animation for collapse
.collapsing {
  transition-duration: 0.1s;
}

//Main style for all links (sub links, support links, external links)
.sdds-nav-link-style {
  color: white;
  font-size: 3.5rem;
  line-height: 4rem;
  text-decoration: none;
  align-items: center;
}

.sdds-nav-section {
  border-bottom: 1px solid #2B2C2F;

  // Collapse/expand icon
  c-icon {
    margin-left: auto;

    &[name=scania-angle-down] {
      font-size: 30px;
      margin-right: -10px;
    }
  }

  > a {
    display: flex;

    // Rotate for the angle-down icon
    &.collapsed > c-icon {
      &[name=scania-angle-down] {
        transform: rotate(0deg);
      }
    }
    & > c-icon {
      &[name=scania-angle-down] {
        transform: rotate(180deg);
      }
    }
  }
}

.sdds-nav-section-link {
  padding: 6rem;
}

.sdds-nav-section-sub-link {
  a {
    display: block;
    margin: 4rem;
    padding: 3rem 4rem;

    &.active {
      background-color: #2B2C2F;
    }
  }

}

.sdds-external-links {
  display: flex;
  flex-direction: column;
  padding: 24px;

}