//FIXME: Add scania-theme variables instead of hex colors, valid for all places

:host {
  padding-top: 65px;

  div + div {
    margin-top: auto;
  }
}

//TODO: Look into transtion from bootstrap regarding animation for collapse
.collapsing {
  transition-duration: 0.1s;
}

section {
  margin-bottom: 20px;

  c-icon {
    font-size: 30px;
    margin-left: auto;
    // color: white;
  }

  > a {
    display: flex;
    padding: 3px 10px 3px 20px;
    border-left: 3px transparent solid;

    // Rotate for the angle-down icon
    &.collapsed > c-icon {
      transform: rotate(0deg);
    }

    & > c-icon {
      transform: rotate(180deg);
    }

    &.active {
      font-weight: bold;
      color: #033a6a;
      color: Var(--primary);
      border-left: 3px solid;
      border-color: #D6001C;
      border-color: Var(--red);
    }
  }
  div {
    a {
      display:block;
      padding: 7.5px 0px 7.5px 60px;
      margin: 5px 0px;

      &.active {
        font-weight: bold;
        color: #033a6a;
        color: Var(--primary);
      }
    }
  }
}

a {
  text-decoration: none;
  align-items: center;
}